@using RazorEmails.Views.Emails.ActivateUserEmail
@model ActivateUserEmailViewModel

@{
    ViewData["EmailTitle"] = "Welcome!";
  ViewData["text2"] = "test2!";
    ViewData["button1"] = "test3!";
    ViewData["button2"] = "test4!";

  <p style="font-size: 14px; line-height: 1.2; word-break: break-word; text-align: center; mso-line-height-alt: 17px; letter-spacing: 1px; margin: 0;">Test1!</p>
}
